@import "core/settings";
@import "core/links";

/* RESET */

html,
body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

button {
  padding: 0;
  margin: 0;
}

/* */

html {
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  width: 100%;
}

.body {
  height: 100%;
  padding: 2rem;
  display: grid;
  grid-template-columns: 350px 1fr;
}

.header {
  border-right: solid 1px black;
}

.search-result {
  &--col-1 {
    background-color: grey;
  }

  &--col-2 {
    background-color: yellow;
  }

  &__list {
    padding-left: 2rem;
  }

  &__item {
    margin: 2rem;
    max-width: 21rem;
  }

  &__button {
    border-radius: 3rem;
    max-width: 22rem;
    overflow: hidden;
    background-color: #ffffff;
    border: none;
    box-shadow: 0.2rem 0.2rem 2rem #666;
    font-size: 1.6rem;
    transition-duration: 0.4s;
  }

  &__button--favorite {
    border: red 0.5rem solid;
  }

  &__button:hover {
    color: red;
  }
}
