@import "core/settings";
@import "core/links";

/* RESET */

html,
body {
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

button {
  padding: 0;
  margin: 0;
}

/* */

html {
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  width: 100%;
}

.body {
  height: 100%;
  padding: 2rem;
  display: grid;
  grid-template-columns: 350px 1fr;
}

.header {
  border-right: solid 1px black;
}

.search-result {
  &--col-1 {
    background-color: #fabada;
  }

  &--col-2 {
    background-color: grey;
  }

  &__item {
    position: relative;
    display: block;
    margin: 2rem;
  }

  &__button {
    border-radius: 0.7rem;
  }
}
