<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Adalab Web Starter Kit</title>
    <link rel="icon" href="./favicon.png" />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body class="body">
    <header>
      <h1>Buscador de series</h1>
      <form class="search-form">
        <input type="text" class="search-form__input" />
        <button class="search-form__button" type="search">Search</button>
      </form>
      <h3>Mis series favoritas</h3>
      <div class="shows-result--col-2">
        <ul>
          <li>
            <img />
            <h3></h3>
          </li>
        </ul>
      </div>
    </header>
    <main>
      <div class="shows-result--col-1">
        <ul class="show-result__list">
          <li>
            <button class="show-result__button">
              <img
                src="http://static.tvmaze.com/uploads/images/medium_portrait/41/104550.jpg"
              />
              <h3>Friends</h3>
            </button>
          </li>
        </ul>
      </div>
    </main>
    <script src="./assets/js/main.js"></script>
  </body>
</html>
