<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Adalab Web Starter Kit</title>
    <link rel="icon" href="./favicon.png" />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body class="body">
    <header class="header">
      <h1>Buscador de series</h1>
      <form class="search-form">
        <input type="text" class="search-form__input" type="search" />
        <button class="search-form__button" type="submit">Search</button>
      </form>
      <h2>Mis series favoritas</h2>
      <div class="search-result--col-2">
        <ul class="search-result__list--favorites"></ul>
      </div>
    </header>
    <main>
      <div class="search-result--col-1">
        <ul class="search-result__list"></ul>
      </div>
    </main>
    <script src="./assets/js/main.js"></script>
  </body>
</html>
